{% load staticfiles %}
<!DOCTYPE html>
<head>
    <script type="text/javascript" src="{% static '/timetable/js/bootstrap.js' %}"></script>
    <link href="{% static '/timetable/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/timetable/css/create_style.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Создание репетиции</title>
</head>
<body>
<div class="row">
    <div class="col-lg-12 text-center">
         <h2>Название группы</h2>
<form action="" method="post">
    {% csrf_token %}
    {{ create.date }} <br><br>
    <div class="row">
    Время начала репетиции:{{ create.time_start }} <br><br>
    Время окончания репетиции:{{ create.time_end }} <br><br>
    <input type="submit" value="Создать" />
    </div>
</form>
    </div>
</div>
</body>
</html>