{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'authorization/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="{% static 'authorization/js/toggle.js' %}"></script>
</head>

<body>
<div class="login-page">
  <div class="form">
    <form class="register-form" method="post">
      {% csrf_token %}
      {{ reg_form.band_name }}
      {{ reg_form.password }}
      {{ reg_form.email }}
      <button>Зарегистрироваться</button>
      <p class="message">Уже зарегистрированы? <a href="#">Войти</a></p>
    </form>
    <form class="login-form" method="post">
      {% csrf_token %}
      {{ form.band_name }}
      {{ form.password }}
      <button>Войти</button>
      <p class="message">Не зарегистрованы? <a href="#">Создать аккаунт группы</a></p>
    </form>
  </div>
</div>
</body>